version: '3.8'

services:
  funpay-bot:
    build: .
    container_name: funpay-server
    restart: unless-stopped
    volumes:
      - ./settings.txt:/usr/src/app/settings.txt
      - ./data:/usr/src/app/data
    environment:
      - NODE_ENV=production
    # Healthcheck — проверка что процесс жив
    healthcheck:
      test: [ "CMD", "node", "-e", "process.exit(0)" ]
      interval: 60s
      timeout: 10s
      retries: 3
